.middle {
  display: flex;
  padding: 50px 10px;
  flex: 0.75;
  flex-direction: column;
}

.middle-container {
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.178);
  border-radius: 10px;
}

.middle-container-top {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  background-color: rgb(244 128 36 / 91%);
  width: 100%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.middle-top {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.buttons {
  display: flex;
  height: 23px;
  align-items: center;
  border: 1px solid rgb(238, 234, 234);
  margin-right: 20px;
  border-radius: 5px;
}

h4 {
  padding: 20px;
}

.btn {
  display: flex;
  font-size: 15px;
  color: white;
  padding: 0px 5px 0px 5px;
  text-align: center;
  border-right: 1px solid rgb(255, 255, 255);
  align-items: center;
  justify-content: center;
}

.hr {
  border-bottom: 2px solid rgba(245, 245, 245, 0.814);
  height: 1px;
}

.detials {
  color: white;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.owner-detial {
  padding: 10px;
  display: flex;
  width: 100%;
  flex: 0.478;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.date-detial {
  padding: 10px;
  font-size: 13px;
  display: flex;
  flex: 0.5;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.yr-mnth {
  padding: 0px 5px;
  border-right: 2px solid rgb(255, 255, 255);
  font-size: 12px;
}

.day {
  padding: 0px 5px;
  border-right: 2px solid rgb(255, 255, 255);
}

.viwed {
  padding: 0px 5px;
}

.container-buttom {
  display: flex;
  flex-direction: column;
  padding: 20px;
  font-family: sans-serif;
  font-size: 15px;
}

.question {
  padding: 10px;
  margin-bottom: 25px;
}

.answer {
  margin-top: 50px;
  font-family: sans-serif;
  font-size: 15px;
}

.answer-main-container-top {
  display: flex;
  justify-content: space-between;
  margin: 0px 20px;
  align-items: center;
  margin-bottom: 25px;
}

.answers-container {
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.178);
  border-radius: 10px;
}

.filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 180px;
}

.answers-top {
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.045);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: flex;
  justify-content: space-between;
}

.auth-dt {
  display: flex;
  justify-content: space-between;
}

.author {
  margin-right: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.all-ans {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.ans {
  margin-bottom: 35px;
}

.ans-dt {
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  cursor: pointer;
  color: rgb(244 128 36 / 91%);
}

.option {
  padding: 5px 0px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.91);
}

.option:hover {
  color: rgb(244 128 36 / 91%);
  border-bottom: 2px solid rgb(244 128 36 / 91%);
}

.container-buttom-icon {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}