nav{
    min-height: 50px;
    width: 100%;
    margin: 0% auto;
    border-top: solid 3px orange;
    box-shadow: 0px 1px 5px black;
    position: fixed;
    z-index: 15;
    top: 0%;
    left: 0%;
    background-color: #f8f9f9;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar{
    height: 100%;
    min-width:85%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .nav-section{
    display: flex;
        align-items: center;
        flex-grow: 1;
}

/* .nav-logo{
   padding: 5px 25px;
   height: 10px;
   width: 10px; 
} */

.nav-logo-hem{
    display: none;
        transition: 0.2s;
        padding: 5px 6px 3px 6px;
        border-radius: 50%;
        background-color: inherit;
        border: none;
        cursor: pointer;
}
.nav-item{
    margin: 0px 3px;
    font-size: small;
    font-weight: 500;
    text-decoration: none;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
    color: black;
}

.navbar .nav-section form {
    min-width: 90%;
    font-size: 13px;
    border: solid 1px  #0000003a;
    border-radius: 3px;
    width: 650px;
    height: 30px;
    margin: 10px;
    padding: 8px 10px 8px 32px;
   
}
.navbar form .search-icon{
    position: absolute;
    left: 25px;
    top: 8px;

}
.navbar form{
    flex-grow: 1;
    padding: 0px 12px;
    position: relative;
}
/* .nav-links{
    padding: 7px 13px;
    border: solid 1px blue;
    border-radius: 3px;

    background-color:#e7f8fe ;
    cursor: pointer;
} */
